.container {
  width: 500px;
  height: 500px;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 33%;
  aspect-ratio: 1/1;
  background-color: aquamarine;
  border-radius: 50%;
  display: flex;
}
